html {
    font-size: large;
    font-style: italic;
    font-family: 'Labrada', serif;
    background-color:  #E3F6FF;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: #8DCBE6;
    padding: 0 20px 20px 20px;
    border: 5px solid #9DF1DF;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #C27664;
    text-shadow: 1px 3px 2px #E3F6FF;
}

img {
    display: block;
    margin: 0 auto;
    width: 250px;
}

p,
li {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
    font-weight: bold;
}