h1 { 
    color: red;
}
p, li{
    color:aqua ;
}

li{
    list-style-type:none;
}
.special{
    color: orange;
    font-weight: bold;
}
li em{
    color: yellowgreen;
}
h1 + p{
    font-size: 200%;
}