h1 { 
    color: red;
}
p, li{
    color:aqua ;
}

li{
    list-style-type:none;
}
.special{
    color: orange;
    font-weight: bold;
}
li em{
    color: yellowgreen;
}
h1 + p{
    font-size: 200%;
}

a:link{
    color: violet;
    text-decoration: none;
}
a:visited{
    color: black;
}
a:hover{
    color: purple;
}
p{
    color: black;
}
@media(min-width:768px) {
    body{
        background-color: aquamarine;
    }
}